
a i.fa {
    color: black;
    margin: 0px 2px;
}

h1 {
    display: inline;
}
h1 a {
    color: inherit;
    text-decoration: inherit;
}
p {
    max-width: 600px;
    text-align: justify;
    margin: 0px 0px 5px 0px;
}

div#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
}
